default/MOH-515_Design_Doc_To_All_47_Counties.json
{"flowContents":{"identifier":"76a6f127-23fd-317b-a38b-b48c32700cc3","name":"MOH-515 Design Doc To All 47 Counties","comments":"","position":{"x":-1359.2758501550188,"y":-1048.4853856941077},"processGroups":[{"identifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Update Design Docs","comments":"","position":{"x":192.0,"y":392.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5e0d9ea2-2ae4-37d9-a49e-5ff61de287bf","name":"Put Design Doc To Body","comments":"","position":{"x":144.0,"y":336.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"_id\": \"_design/medic-moh-515\",\n  \"build_info\": {\n    \"application\": \"medic\",\n    \"author\": \"robert mayore\",\n    \"build\": \"1.0.0\",\n    \"base_version\": \"4.8.0\",\n    \"namespace\": \"medic\",\n    \"schema_version\": 1,\n    \"version\": \"4.8.0\",\n    \"time\": \"2024-04-28T20:07:01.525Z\"\n  },\n  \"version\": \"4.8.0.9201435213\",\n  \"views\": {\n    \"moh-515-summaries\": {\n      \"map\": \"function(doc) {\\\\n  if (doc.type === 'data_record' && doc.form === 'moh-515-summary') {\\\\n    emit([doc.fields.year, doc.fields.month, doc._id], doc);\\\\n  }\\\\n}\"\n    },\n    \"moh-515-summary-offline-sub_county_supervisor-verified\": {\n      \"map\": \"function(doc) {\\\\n  if (doc.type === 'data_record' && doc.form === 'moh-515-summary-offline_sub_county_supervisor-verified') {\\\\n    emit([doc.fields.year, doc.fields.month, doc._id], doc);\\\\n  }\\\\n}\"\n    },\n    \"moh-515-summary-cha-verified\": {\n      \"map\": \"function(doc) {\\\\n  if (doc.type === 'data_record' && doc.form === 'moh-515-summary-community_health_assistant-verified') {\\\\n    emit([doc.fields.year, doc.fields.month, doc._id], doc);\\\\n  }\\\\n}\"\n    }\n  },\n  \"deploy_info\": {\n    \"timestamp\": 1724864909\n  }\n}","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"0ccbbb1f-34a4-3795-8152-a3363a942c79","name":"Push Design Doc To Instance","comments":"","position":{"x":144.0,"y":592.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"${basic_auth_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://${county_url}/medic/_design/medic-moh-515","Content-Type":"${mime.type}","form-body-form-name":null,"flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","Socket Write Timeout":"15 secs","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"PUT","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"cookie-strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"flow-file-naming-strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"}],"inputPorts":[{"identifier":"baac1492-89a8-369d-bb29-27268ee2a463","name":"In","position":{"x":200.0,"y":163.00283432006836},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"}],"outputPorts":[{"identifier":"f25941a8-115b-3ec6-8c8b-29b2e71fbb09","name":"Out","position":{"x":200.0,"y":896.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"}],"connections":[{"identifier":"1e1ede4a-7e24-3769-81f1-12574292d964","name":"","source":{"id":"0ccbbb1f-34a4-3795-8152-a3363a942c79","type":"PROCESSOR","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Push Design Doc To Instance","comments":""},"destination":{"id":"ef6818f2-8b46-371d-9125-b520836f5c98","type":"FUNNEL","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"8a35d19f-5acf-3e7f-89b1-3c038193a629","name":"","source":{"id":"baac1492-89a8-369d-bb29-27268ee2a463","type":"INPUT_PORT","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"In"},"destination":{"id":"5e0d9ea2-2ae4-37d9-a49e-5ff61de287bf","type":"PROCESSOR","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Put Design Doc To Body","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"6299ee41-3059-378b-9107-39c3cc475f45","name":"","source":{"id":"5e0d9ea2-2ae4-37d9-a49e-5ff61de287bf","type":"PROCESSOR","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Put Design Doc To Body","comments":""},"destination":{"id":"0ccbbb1f-34a4-3795-8152-a3363a942c79","type":"PROCESSOR","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Push Design Doc To Instance","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"64683b0c-ad49-39df-84e1-41a388ba25b0","name":"","source":{"id":"0ccbbb1f-34a4-3795-8152-a3363a942c79","type":"PROCESSOR","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Push Design Doc To Instance","comments":""},"destination":{"id":"f25941a8-115b-3ec6-8c8b-29b2e71fbb09","type":"OUTPUT_PORT","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Out"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"40116815-ed52-3556-befb-39569d66e537","name":"","source":{"id":"ef6818f2-8b46-371d-9125-b520836f5c98","type":"FUNNEL","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Funnel","comments":""},"destination":{"id":"f93a86fe-c1d8-32ce-9165-b95b8639c4ca","type":"FUNNEL","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"0a9def57-2053-3d85-b465-84b49a892e9a","name":"","source":{"id":"f93a86fe-c1d8-32ce-9165-b95b8639c4ca","type":"FUNNEL","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Funnel","comments":""},"destination":{"id":"0ccbbb1f-34a4-3795-8152-a3363a942c79","type":"PROCESSOR","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Push Design Doc To Instance","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"03c3a689-a62f-323f-bd3f-858a24bbe375","name":"","source":{"id":"0ccbbb1f-34a4-3795-8152-a3363a942c79","type":"PROCESSOR","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Push Design Doc To Instance","comments":""},"destination":{"id":"0ccbbb1f-34a4-3795-8152-a3363a942c79","type":"PROCESSOR","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Push Design Doc To Instance","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":624.0,"y":632.0},{"x":624.0,"y":696.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"b5d9b931-3eb8-32f6-9193-32c9e10c6ea8","name":"","source":{"id":"5e0d9ea2-2ae4-37d9-a49e-5ff61de287bf","type":"PROCESSOR","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Put Design Doc To Body","comments":""},"destination":{"id":"2e6bb1f1-4461-3285-8690-ac0bb4e6b1e7","type":"FUNNEL","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"}],"labels":[],"funnels":[{"identifier":"f93a86fe-c1d8-32ce-9165-b95b8639c4ca","position":{"x":-121.0,"y":522.0028190612793},"componentType":"FUNNEL","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"2e6bb1f1-4461-3285-8690-ac0bb4e6b1e7","position":{"x":-168.0,"y":376.0},"componentType":"FUNNEL","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"},{"identifier":"ef6818f2-8b46-371d-9125-b520836f5c98","position":{"x":-168.0,"y":632.0},"componentType":"FUNNEL","groupIdentifier":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"76a6f127-23fd-317b-a38b-b48c32700cc3"},{"identifier":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Get Credentials","comments":"","position":{"x":192.0,"y":72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7a7b15cc-5c5b-3fe3-9040-c3d736aef0b5","name":"SplitJson","comments":"","position":{"x":120.0,"y":952.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"17eaed6e-c12a-31dc-a6d4-9c931b71f44d","name":"Set Basic Auth Header","comments":"","position":{"x":120.0,"y":1464.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import java.util.Base64.Encoder\n\n// get flow file\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef username = \"medic\";\ndef password = flowFile.getAttribute(\"county_password\");\n\ndef credentials = \"$username:$password\"\ndef encodedCredentials = Base64.getEncoder().encodeToString(credentials.getBytes())\nencodedCredentials = \"Basic $encodedCredentials\"\n\nflowFile = session.putAttribute(flowFile, \"county_password\" as String, \"\")\nflowFile = session.putAttribute(flowFile, \"basic_auth_token\" as String, encodedCredentials.toString())\n\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"ce9189dc-b93f-3b0c-afd0-a75baa0783b2","name":"Fetch All Credentials","comments":"","position":{"x":120.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"a31d41a8-7143-30bf-bddd-12a613a98fe7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from county_instances_data ","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"f8296709-7061-33fb-9973-0a73df1cd4cf","name":"Get Columns","comments":"","position":{"x":120.0,"y":1200.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"county_uuid":"$.county_id","Destination":"flowfile-attribute","county_password":"$.county_password","Max String Length":"20 MB","Return Type":"auto-detect","county_url":"$.county_url","Null Value Representation":"empty string","county_name":"$.county_name","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"county_uuid":{"name":"county_uuid","displayName":"county_uuid","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"county_password":{"name":"county_password","displayName":"county_password","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"county_url":{"name":"county_url","displayName":"county_url","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"county_name":{"name":"county_name","displayName":"county_name","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"93e30691-a6aa-3110-acc8-a972a631285e","name":"Avro To JSON","comments":"","position":{"x":120.0,"y":728.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"823e8be9-fa5a-3183-9476-0fbb95ce2bce","record-reader":"0f0590a0-f24c-3e29-877a-409a4f710110","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":20,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"}],"inputPorts":[{"identifier":"87de91f0-394d-3278-b7b6-de80f81be7f3","name":"In","position":{"x":176.0,"y":296.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"}],"outputPorts":[{"identifier":"13cb6579-41c5-3dc6-99a1-b087956b003d","name":"Out","position":{"x":784.0,"y":1504.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"}],"connections":[{"identifier":"fb666a69-c76a-3f4e-bb33-6f5c909ff456","name":"","source":{"id":"f8296709-7061-33fb-9973-0a73df1cd4cf","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Get Columns","comments":""},"destination":{"id":"17eaed6e-c12a-31dc-a6d4-9c931b71f44d","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Set Basic Auth Header","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"882fa179-8e6c-3a79-a0d7-5926fa177cbe","name":"","source":{"id":"93e30691-a6aa-3110-acc8-a972a631285e","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Avro To JSON","comments":""},"destination":{"id":"13da506d-8fc5-3324-a154-3c1a55ac24b9","type":"FUNNEL","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"88c437c1-d031-3b06-8b3b-632843290885","name":"","source":{"id":"17eaed6e-c12a-31dc-a6d4-9c931b71f44d","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Set Basic Auth Header","comments":""},"destination":{"id":"13cb6579-41c5-3dc6-99a1-b087956b003d","type":"OUTPUT_PORT","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Out"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"59fe4c1a-b060-386f-85ae-4e856d12d02b","name":"","source":{"id":"7a7b15cc-5c5b-3fe3-9040-c3d736aef0b5","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"SplitJson","comments":""},"destination":{"id":"651480e2-964d-3a78-b26a-3269cac8bcee","type":"FUNNEL","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"5625bad1-f446-3e9c-a180-3068ff49be2b","name":"","source":{"id":"f8296709-7061-33fb-9973-0a73df1cd4cf","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Get Columns","comments":""},"destination":{"id":"dc45785e-fd01-3f73-bee1-32a263fe24a0","type":"FUNNEL","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"a7fcd61e-257e-33d7-b4d6-d99033dcdb4e","name":"","source":{"id":"93e30691-a6aa-3110-acc8-a972a631285e","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Avro To JSON","comments":""},"destination":{"id":"7a7b15cc-5c5b-3fe3-9040-c3d736aef0b5","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"e0c1d750-a52f-305f-8eb0-f8f7404be6dc","name":"","source":{"id":"7a7b15cc-5c5b-3fe3-9040-c3d736aef0b5","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"SplitJson","comments":""},"destination":{"id":"f8296709-7061-33fb-9973-0a73df1cd4cf","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Get Columns","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"ddaa6142-12e9-3d09-848f-8b0e5d67cce6","name":"","source":{"id":"87de91f0-394d-3278-b7b6-de80f81be7f3","type":"INPUT_PORT","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"In"},"destination":{"id":"ce9189dc-b93f-3b0c-afd0-a75baa0783b2","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Fetch All Credentials","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"9d07fd35-9c63-305f-97bb-b62c094fe377","name":"","source":{"id":"17eaed6e-c12a-31dc-a6d4-9c931b71f44d","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Set Basic Auth Header","comments":""},"destination":{"id":"39d700b4-7620-3e54-b4d4-535eff842dbe","type":"FUNNEL","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"f53c2d71-a29e-3de7-9170-5c7fcf018266","name":"","source":{"id":"ce9189dc-b93f-3b0c-afd0-a75baa0783b2","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Fetch All Credentials","comments":""},"destination":{"id":"93e30691-a6aa-3110-acc8-a972a631285e","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Avro To JSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"3cdfce02-e217-3db9-9696-f4cd6ab3511c","name":"","source":{"id":"ce9189dc-b93f-3b0c-afd0-a75baa0783b2","type":"PROCESSOR","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Fetch All Credentials","comments":""},"destination":{"id":"c057e646-76e9-3118-a546-adca5548f85a","type":"FUNNEL","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"}],"labels":[],"funnels":[{"identifier":"651480e2-964d-3a78-b26a-3269cac8bcee","position":{"x":-345.0,"y":992.0},"componentType":"FUNNEL","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"39d700b4-7620-3e54-b4d4-535eff842dbe","position":{"x":-344.0,"y":1504.0},"componentType":"FUNNEL","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"c057e646-76e9-3118-a546-adca5548f85a","position":{"x":-344.0,"y":496.0},"componentType":"FUNNEL","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"dc45785e-fd01-3f73-bee1-32a263fe24a0","position":{"x":-345.0,"y":1240.0},"componentType":"FUNNEL","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"13da506d-8fc5-3324-a154-3c1a55ac24b9","position":{"x":-345.0,"y":760.0},"componentType":"FUNNEL","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"}],"controllerServices":[{"identifier":"823e8be9-fa5a-3183-9476-0fbb95ce2bce","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.3"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.3"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"899c46e2-15b8-3329-a5a8-496a39914e5b","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.15.3"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.3"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":null,"dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":null,"dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"},{"identifier":"0f0590a0-f24c-3e29-877a-409a4f710110","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.3"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.3"}}],"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bc9d9223-e701-3d70-a02f-6249888320b0"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"76a6f127-23fd-317b-a38b-b48c32700cc3"}],"remoteProcessGroups":[],"processors":[{"identifier":"ad7fd6d8-9109-3e80-89f3-c44df60fbfc3","name":"GenerateFlowFile","comments":"","position":{"x":208.0,"y":-192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1000 days","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"76a6f127-23fd-317b-a38b-b48c32700cc3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"0968884f-348d-3d74-a88f-f03e719e9c86","name":"","source":{"id":"f25941a8-115b-3ec6-8c8b-29b2e71fbb09","type":"OUTPUT_PORT","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"Out"},"destination":{"id":"71bea6a3-2739-3477-b382-09f2281ed8b7","type":"FUNNEL","groupId":"76a6f127-23fd-317b-a38b-b48c32700cc3","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76a6f127-23fd-317b-a38b-b48c32700cc3"},{"identifier":"f196c4f7-9178-3d94-8504-37ab22d74862","name":"","source":{"id":"ad7fd6d8-9109-3e80-89f3-c44df60fbfc3","type":"PROCESSOR","groupId":"76a6f127-23fd-317b-a38b-b48c32700cc3","name":"GenerateFlowFile","comments":""},"destination":{"id":"87de91f0-394d-3278-b7b6-de80f81be7f3","type":"INPUT_PORT","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"In"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76a6f127-23fd-317b-a38b-b48c32700cc3"},{"identifier":"e8dd0825-03ca-3b05-b3e3-32c5e81296d8","name":"","source":{"id":"13cb6579-41c5-3dc6-99a1-b087956b003d","type":"OUTPUT_PORT","groupId":"bc9d9223-e701-3d70-a02f-6249888320b0","name":"Out"},"destination":{"id":"baac1492-89a8-369d-bb29-27268ee2a463","type":"INPUT_PORT","groupId":"6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36","name":"In"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76a6f127-23fd-317b-a38b-b48c32700cc3"}],"labels":[],"funnels":[{"identifier":"71bea6a3-2739-3477-b382-09f2281ed8b7","position":{"x":360.0,"y":696.0},"componentType":"FUNNEL","groupIdentifier":"76a6f127-23fd-317b-a38b-b48c32700cc3"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"a31d41a8-7143-30bf-bddd-12a613a98fe7":{"identifier":"a31d41a8-7143-30bf-bddd-12a613a98fe7","name":"Nifi Instances Data DB"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}