default/moh-515-docs.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>f9096f46-018d-1000-6200-229da1984ded</groupId>
    <name>moh-515-docs</name>
    <snippet>
        <controllerServices>
            <id>b0a3cfbc-8c73-3efb-0000-000000000000</id>
            <parentGroupId>06e0192f-aac5-3fa9-0000-000000000000</parentGroupId>
            <versionedComponentId>b0a3cfbc-8c73-3efb-b712-b0daec075f15</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.25.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>Nifi Instances Data DB</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://127.0.0.1:5432/echis</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/home/echisadmin/jbdc/postgresql-42.7.2.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>nifi_user</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>c64aa2be-fb0a-3c61-0000-000000000000</id>
            <parentGroupId>06e0192f-aac5-3fa9-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>c64aa2be-fb0a-3c61-a900-0233e014e3d8</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>0968884f-348d-3d74-0000-000000000000</id>
                    <parentGroupId>c64aa2be-fb0a-3c61-0000-000000000000</parentGroupId>
                    <versionedComponentId>0968884f-348d-3d74-a88f-f03e719e9c86</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c64aa2be-fb0a-3c61-0000-000000000000</groupId>
                        <id>71bea6a3-2739-3477-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>71bea6a3-2739-3477-b382-09f2281ed8b7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
                        <id>f25941a8-115b-3ec6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>f25941a8-115b-3ec6-8c8b-29b2e71fbb09</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e8dd0825-03ca-3b05-0000-000000000000</id>
                    <parentGroupId>c64aa2be-fb0a-3c61-0000-000000000000</parentGroupId>
                    <versionedComponentId>e8dd0825-03ca-3b05-b3e3-32c5e81296d8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
                        <id>baac1492-89a8-369d-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>baac1492-89a8-369d-bb29-27268ee2a463</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
                        <id>13cb6579-41c5-3dc6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>13cb6579-41c5-3dc6-99a1-b087956b003d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f196c4f7-9178-3d94-0000-000000000000</id>
                    <parentGroupId>c64aa2be-fb0a-3c61-0000-000000000000</parentGroupId>
                    <versionedComponentId>f196c4f7-9178-3d94-8504-37ab22d74862</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
                        <id>87de91f0-394d-3278-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>87de91f0-394d-3278-b7b6-de80f81be7f3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c64aa2be-fb0a-3c61-0000-000000000000</groupId>
                        <id>ad7fd6d8-9109-3e80-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ad7fd6d8-9109-3e80-89f3-c44df60fbfc3</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>71bea6a3-2739-3477-0000-000000000000</id>
                    <parentGroupId>c64aa2be-fb0a-3c61-0000-000000000000</parentGroupId>
                    <position>
                        <x>360.0</x>
                        <y>696.0</y>
                    </position>
                    <versionedComponentId>71bea6a3-2739-3477-b382-09f2281ed8b7</versionedComponentId>
                </funnels>
                <processGroups>
                    <id>6e08e5d5-33bf-39de-0000-000000000000</id>
                    <parentGroupId>c64aa2be-fb0a-3c61-0000-000000000000</parentGroupId>
                    <position>
                        <x>192.0</x>
                        <y>392.0</y>
                    </position>
                    <versionedComponentId>6e08e5d5-33bf-39de-b0c2-20e2a5b0ed36</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>03c3a689-a62f-323f-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <versionedComponentId>03c3a689-a62f-323f-bd3f-858a24bbe375</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>624.0</x>
<y>632.0</y>
                            </bends>
                            <bends>
<x>624.0</x>
<y>696.0</y>
                            </bends>
                            <destination>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>0ccbbb1f-34a4-3795-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0ccbbb1f-34a4-3795-8152-a3363a942c79</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>0ccbbb1f-34a4-3795-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0ccbbb1f-34a4-3795-8152-a3363a942c79</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0a9def57-2053-3d85-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <versionedComponentId>0a9def57-2053-3d85-b465-84b49a892e9a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>0ccbbb1f-34a4-3795-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0ccbbb1f-34a4-3795-8152-a3363a942c79</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>f93a86fe-c1d8-32ce-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>f93a86fe-c1d8-32ce-9165-b95b8639c4ca</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1e1ede4a-7e24-3769-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <versionedComponentId>1e1ede4a-7e24-3769-81f1-12574292d964</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>ef6818f2-8b46-371d-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ef6818f2-8b46-371d-9125-b520836f5c98</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <source>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>0ccbbb1f-34a4-3795-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0ccbbb1f-34a4-3795-8152-a3363a942c79</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>40116815-ed52-3556-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <versionedComponentId>40116815-ed52-3556-befb-39569d66e537</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>f93a86fe-c1d8-32ce-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>f93a86fe-c1d8-32ce-9165-b95b8639c4ca</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>ef6818f2-8b46-371d-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ef6818f2-8b46-371d-9125-b520836f5c98</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6299ee41-3059-378b-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <versionedComponentId>6299ee41-3059-378b-9107-39c3cc475f45</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>0ccbbb1f-34a4-3795-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0ccbbb1f-34a4-3795-8152-a3363a942c79</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>5e0d9ea2-2ae4-37d9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5e0d9ea2-2ae4-37d9-a49e-5ff61de287bf</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>64683b0c-ad49-39df-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <versionedComponentId>64683b0c-ad49-39df-84e1-41a388ba25b0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>f25941a8-115b-3ec6-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>f25941a8-115b-3ec6-8c8b-29b2e71fbb09</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>0ccbbb1f-34a4-3795-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0ccbbb1f-34a4-3795-8152-a3363a942c79</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8a35d19f-5acf-3e7f-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <versionedComponentId>8a35d19f-5acf-3e7f-89b1-3c038193a629</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>5e0d9ea2-2ae4-37d9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5e0d9ea2-2ae4-37d9-a49e-5ff61de287bf</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>baac1492-89a8-369d-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>baac1492-89a8-369d-bb29-27268ee2a463</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b5d9b931-3eb8-32f6-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <versionedComponentId>b5d9b931-3eb8-32f6-9193-32c9e10c6ea8</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>2e6bb1f1-4461-3285-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>2e6bb1f1-4461-3285-8690-ac0bb4e6b1e7</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>6e08e5d5-33bf-39de-0000-000000000000</groupId>
<id>5e0d9ea2-2ae4-37d9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5e0d9ea2-2ae4-37d9-a49e-5ff61de287bf</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>2e6bb1f1-4461-3285-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <position>
<x>-168.0</x>
<y>376.0</y>
                            </position>
                            <versionedComponentId>2e6bb1f1-4461-3285-8690-ac0bb4e6b1e7</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>ef6818f2-8b46-371d-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <position>
<x>-168.0</x>
<y>632.0</y>
                            </position>
                            <versionedComponentId>ef6818f2-8b46-371d-9125-b520836f5c98</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>f93a86fe-c1d8-32ce-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <position>
<x>-121.0</x>
<y>522.0028190612793</y>
                            </position>
                            <versionedComponentId>f93a86fe-c1d8-32ce-9165-b95b8639c4ca</versionedComponentId>
                        </funnels>
                        <inputPorts>
                            <id>baac1492-89a8-369d-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <position>
<x>200.0</x>
<y>163.00283432006836</y>
                            </position>
                            <versionedComponentId>baac1492-89a8-369d-bb29-27268ee2a463</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>In</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>f25941a8-115b-3ec6-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <position>
<x>200.0</x>
<y>896.0</y>
                            </position>
                            <versionedComponentId>f25941a8-115b-3ec6-8c8b-29b2e71fbb09</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Out</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>0ccbbb1f-34a4-3795-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <position>
<x>144.0</x>
<y>592.0</y>
                            </position>
                            <versionedComponentId>0ccbbb1f-34a4-3795-8152-a3363a942c79</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Socket Write Timeout</key>
        <value>
            <name>Socket Write Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <dependencies>
                <propertyName>Proxy Host</propertyName>
            </dependencies>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>oauth2-access-token-provider</key>
        <value>
            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
            <name>oauth2-access-token-provider</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <dependencies>
                <propertyName>Basic Authentication Username</propertyName>
            </dependencies>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>send-message-body</propertyName>
            </dependencies>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <dependencies>
                <propertyName>form-body-form-name</propertyName>
            </dependencies>
            <name>set-form-filename</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Content-Encoding</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>Content-Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <dependencies>
                <dependentValues>POST</dependentValues>
                <dependentValues>PATCH</dependentValues>
                <dependentValues>PUT</dependentValues>
                <propertyName>HTTP Method</propertyName>
            </dependencies>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <dependencies>
                <propertyName>Put Response Body In Attribute</propertyName>
            </dependencies>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>use-etag</propertyName>
            </dependencies>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>
            <name>cookie-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>
            <name>flow-file-naming-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>
            <name>Authorization</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>PUT</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>https://${county_url}/medic/_design/medic-moh-515</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Socket Write Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>oauth2-access-token-provider</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Encoding</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>cookie-strategy</key>
        <value>DISABLED</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>flow-file-naming-strategy</key>
        <value>RANDOM</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>${basic_auth_token}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Push Design Doc To Instance</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>5e0d9ea2-2ae4-37d9-0000-000000000000</id>
                            <parentGroupId>6e08e5d5-33bf-39de-0000-000000000000</parentGroupId>
                            <position>
<x>144.0</x>
<y>336.0</y>
                            </position>
                            <versionedComponentId>5e0d9ea2-2ae4-37d9-a49e-5ff61de287bf</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Regular Expression</key>
        <value>
            <dependencies>
                <dependentValues>Regex Replace</dependentValues>
                <dependentValues>Literal Replace</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <dependencies>
                <dependentValues>Prepend</dependentValues>
                <dependentValues>Regex Replace</dependentValues>
                <dependentValues>Always Replace</dependentValues>
                <dependentValues>Append</dependentValues>
                <dependentValues>Literal Replace</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Text to Prepend</key>
        <value>
            <dependencies>
                <dependentValues>Surround</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Text to Prepend</name>
        </value>
    </entry>
    <entry>
        <key>Text to Append</key>
        <value>
            <dependencies>
                <dependentValues>Surround</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Text to Append</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Replacement Strategy</key>
        <value>Regex Replace</value>
    </entry>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>{
  "_id": "_design/medic-moh-515",
  "build_info": {
    "application": "medic",
    "author": "robert mayore",
    "build": "1.0.0",
    "base_version": "4.8.0",
    "namespace": "medic",
    "schema_version": 1,
    "version": "4.8.0",
    "time": "2024-04-28T20:07:01.525Z"
  },
  "version": "4.8.0.9201435213",
  "views": {
    "moh-515-summaries": {
      "map": "function(doc) {\\n  if (doc.type === 'data_record' &amp;&amp; doc.form === 'moh-515-summary') {\\n    emit([doc.fields.year, doc.fields.month, doc._id], doc);\\n  }\\n}"
    },
    "moh-515-summary-offline-sub_county_supervisor-verified": {
      "map": "function(doc) {\\n  if (doc.type === 'data_record' &amp;&amp; doc.form === 'moh-515-summary-offline_sub_county_supervisor-verified') {\\n    emit([doc.fields.year, doc.fields.month, doc._id], doc);\\n  }\\n}"
    },
    "moh-515-summary-cha-verified": {
      "map": "function(doc) {\\n  if (doc.type === 'data_record' &amp;&amp; doc.form === 'moh-515-summary-community_health_assistant-verified') {\\n    emit([doc.fields.year, doc.fields.month, doc._id], doc);\\n  }\\n}"
    }
  },
  "deploy_info": {
    "timestamp": 1724864909
  }
}</value>
    </entry>
    <entry>
        <key>Text to Prepend</key>
    </entry>
    <entry>
        <key>Text to Append</key>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Line-by-Line</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Put Design Doc To Body</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Update Design Docs</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>bc9d9223-e701-3d70-0000-000000000000</id>
                    <parentGroupId>c64aa2be-fb0a-3c61-0000-000000000000</parentGroupId>
                    <position>
                        <x>192.0</x>
                        <y>72.0</y>
                    </position>
                    <versionedComponentId>bc9d9223-e701-3d70-a02f-6249888320b0</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3cdfce02-e217-3db9-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>3cdfce02-e217-3db9-9696-f4cd6ab3511c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>c057e646-76e9-3118-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>c057e646-76e9-3118-a546-adca5548f85a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>ce9189dc-b93f-3b0c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ce9189dc-b93f-3b0c-afd0-a75baa0783b2</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5625bad1-f446-3e9c-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>5625bad1-f446-3e9c-a180-3068ff49be2b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>dc45785e-fd01-3f73-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>dc45785e-fd01-3f73-bee1-32a263fe24a0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>f8296709-7061-33fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f8296709-7061-33fb-9973-0a73df1cd4cf</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>59fe4c1a-b060-386f-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>59fe4c1a-b060-386f-85ae-4e856d12d02b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>651480e2-964d-3a78-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>651480e2-964d-3a78-b26a-3269cac8bcee</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>7a7b15cc-5c5b-3fe3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>7a7b15cc-5c5b-3fe3-9040-c3d736aef0b5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>882fa179-8e6c-3a79-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>882fa179-8e6c-3a79-a0d7-5926fa177cbe</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>13da506d-8fc5-3324-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>13da506d-8fc5-3324-a154-3c1a55ac24b9</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>93e30691-a6aa-3110-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>93e30691-a6aa-3110-acc8-a972a631285e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>88c437c1-d031-3b06-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>88c437c1-d031-3b06-8b3b-632843290885</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>13cb6579-41c5-3dc6-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>13cb6579-41c5-3dc6-99a1-b087956b003d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>17eaed6e-c12a-31dc-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>17eaed6e-c12a-31dc-a6d4-9c931b71f44d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9d07fd35-9c63-305f-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>9d07fd35-9c63-305f-97bb-b62c094fe377</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>39d700b4-7620-3e54-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>39d700b4-7620-3e54-b4d4-535eff842dbe</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>17eaed6e-c12a-31dc-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>17eaed6e-c12a-31dc-a6d4-9c931b71f44d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a7fcd61e-257e-33d7-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>a7fcd61e-257e-33d7-b4d6-d99033dcdb4e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>7a7b15cc-5c5b-3fe3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>7a7b15cc-5c5b-3fe3-9040-c3d736aef0b5</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>93e30691-a6aa-3110-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>93e30691-a6aa-3110-acc8-a972a631285e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ddaa6142-12e9-3d09-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>ddaa6142-12e9-3d09-848f-8b0e5d67cce6</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>ce9189dc-b93f-3b0c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ce9189dc-b93f-3b0c-afd0-a75baa0783b2</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>87de91f0-394d-3278-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>87de91f0-394d-3278-b7b6-de80f81be7f3</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e0c1d750-a52f-305f-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>e0c1d750-a52f-305f-8eb0-f8f7404be6dc</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>f8296709-7061-33fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f8296709-7061-33fb-9973-0a73df1cd4cf</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>7a7b15cc-5c5b-3fe3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>7a7b15cc-5c5b-3fe3-9040-c3d736aef0b5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f53c2d71-a29e-3de7-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>f53c2d71-a29e-3de7-9170-5c7fcf018266</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>93e30691-a6aa-3110-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>93e30691-a6aa-3110-acc8-a972a631285e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>ce9189dc-b93f-3b0c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ce9189dc-b93f-3b0c-afd0-a75baa0783b2</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fb666a69-c76a-3f4e-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>fb666a69-c76a-3f4e-bb33-6f5c909ff456</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>17eaed6e-c12a-31dc-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>17eaed6e-c12a-31dc-a6d4-9c931b71f44d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>bc9d9223-e701-3d70-0000-000000000000</groupId>
<id>f8296709-7061-33fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f8296709-7061-33fb-9973-0a73df1cd4cf</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>0f0590a0-f24c-3e29-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>0f0590a0-f24c-3e29-877a-409a4f710110</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>cache-size</key>
    <value>
        <name>cache-size</name>
    </value>
</entry>
                            </descriptors>
                            <name>AvroReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>embedded-avro-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>cache-size</key>
    <value>1000</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.avro.AvroReader</type>
                        </controllerServices>
                        <controllerServices>
                            <id>823e8be9-fa5a-3183-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>823e8be9-fa5a-3183-9476-0fbb95ce2bce</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>
        <name>Pretty Print JSON</name>
    </value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>
        <name>suppress-nulls</name>
    </value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>
        <name>output-grouping</name>
    </value>
</entry>
<entry>
    <key>compression-format</key>
    <value>
        <name>compression-format</name>
    </value>
</entry>
<entry>
    <key>compression-level</key>
    <value>
        <dependencies>
            <dependentValues>gzip</dependentValues>
            <propertyName>compression-format</propertyName>
        </dependencies>
        <name>compression-level</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>false</value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>never-suppress</value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>output-array</value>
</entry>
<entry>
    <key>compression-format</key>
    <value>none</value>
</entry>
<entry>
    <key>compression-level</key>
    <value>1</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>899c46e2-15b8-3329-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <versionedComponentId>899c46e2-15b8-3329-a5a8-496a39914e5b</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-dbcp-service-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Database Connection URL</key>
    <value>
        <name>Database Connection URL</name>
    </value>
</entry>
<entry>
    <key>Database Driver Class Name</key>
    <value>
        <name>Database Driver Class Name</name>
    </value>
</entry>
<entry>
    <key>database-driver-locations</key>
    <value>
        <name>database-driver-locations</name>
    </value>
</entry>
<entry>
    <key>kerberos-user-service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
        <name>kerberos-user-service</name>
    </value>
</entry>
<entry>
    <key>kerberos-credentials-service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
        <name>kerberos-credentials-service</name>
    </value>
</entry>
<entry>
    <key>kerberos-principal</key>
    <value>
        <name>kerberos-principal</name>
    </value>
</entry>
<entry>
    <key>kerberos-password</key>
    <value>
        <name>kerberos-password</name>
    </value>
</entry>
<entry>
    <key>Database User</key>
    <value>
        <name>Database User</name>
    </value>
</entry>
<entry>
    <key>Password</key>
    <value>
        <name>Password</name>
    </value>
</entry>
<entry>
    <key>Max Wait Time</key>
    <value>
        <name>Max Wait Time</name>
    </value>
</entry>
<entry>
    <key>Max Total Connections</key>
    <value>
        <name>Max Total Connections</name>
    </value>
</entry>
<entry>
    <key>Validation-query</key>
    <value>
        <name>Validation-query</name>
    </value>
</entry>
<entry>
    <key>dbcp-min-idle-conns</key>
    <value>
        <name>dbcp-min-idle-conns</name>
    </value>
</entry>
<entry>
    <key>dbcp-max-idle-conns</key>
    <value>
        <name>dbcp-max-idle-conns</name>
    </value>
</entry>
<entry>
    <key>dbcp-max-conn-lifetime</key>
    <value>
        <name>dbcp-max-conn-lifetime</name>
    </value>
</entry>
<entry>
    <key>dbcp-time-between-eviction-runs</key>
    <value>
        <name>dbcp-time-between-eviction-runs</name>
    </value>
</entry>
<entry>
    <key>dbcp-min-evictable-idle-time</key>
    <value>
        <name>dbcp-min-evictable-idle-time</name>
    </value>
</entry>
<entry>
    <key>dbcp-soft-min-evictable-idle-time</key>
    <value>
        <name>dbcp-soft-min-evictable-idle-time</name>
    </value>
</entry>
                            </descriptors>
                            <name>DBCPConnectionPool</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Database Connection URL</key>
</entry>
<entry>
    <key>Database Driver Class Name</key>
</entry>
<entry>
    <key>database-driver-locations</key>
</entry>
<entry>
    <key>kerberos-user-service</key>
</entry>
<entry>
    <key>kerberos-credentials-service</key>
</entry>
<entry>
    <key>kerberos-principal</key>
</entry>
<entry>
    <key>kerberos-password</key>
</entry>
<entry>
    <key>Database User</key>
</entry>
<entry>
    <key>Password</key>
</entry>
<entry>
    <key>Max Wait Time</key>
    <value>500 millis</value>
</entry>
<entry>
    <key>Max Total Connections</key>
    <value>8</value>
</entry>
<entry>
    <key>Validation-query</key>
</entry>
<entry>
    <key>dbcp-min-idle-conns</key>
    <value>0</value>
</entry>
<entry>
    <key>dbcp-max-idle-conns</key>
    <value>8</value>
</entry>
<entry>
    <key>dbcp-max-conn-lifetime</key>
    <value>-1</value>
</entry>
<entry>
    <key>dbcp-time-between-eviction-runs</key>
    <value>-1</value>
</entry>
<entry>
    <key>dbcp-min-evictable-idle-time</key>
    <value>30 mins</value>
</entry>
<entry>
    <key>dbcp-soft-min-evictable-idle-time</key>
    <value>-1</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                        </controllerServices>
                        <funnels>
                            <id>13da506d-8fc5-3324-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>-345.0</x>
<y>760.0</y>
                            </position>
                            <versionedComponentId>13da506d-8fc5-3324-a154-3c1a55ac24b9</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>39d700b4-7620-3e54-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>-344.0</x>
<y>1504.0</y>
                            </position>
                            <versionedComponentId>39d700b4-7620-3e54-b4d4-535eff842dbe</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>651480e2-964d-3a78-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>-345.0</x>
<y>992.0</y>
                            </position>
                            <versionedComponentId>651480e2-964d-3a78-b26a-3269cac8bcee</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>c057e646-76e9-3118-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>-344.0</x>
<y>496.0</y>
                            </position>
                            <versionedComponentId>c057e646-76e9-3118-a546-adca5548f85a</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>dc45785e-fd01-3f73-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>-345.0</x>
<y>1240.0</y>
                            </position>
                            <versionedComponentId>dc45785e-fd01-3f73-bee1-32a263fe24a0</versionedComponentId>
                        </funnels>
                        <inputPorts>
                            <id>87de91f0-394d-3278-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>296.0</y>
                            </position>
                            <versionedComponentId>87de91f0-394d-3278-b7b6-de80f81be7f3</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>In</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>13cb6579-41c5-3dc6-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>784.0</x>
<y>1504.0</y>
                            </position>
                            <versionedComponentId>13cb6579-41c5-3dc6-99a1-b087956b003d</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Out</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>17eaed6e-c12a-31dc-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>120.0</x>
<y>1464.0</y>
                            </position>
                            <versionedComponentId>17eaed6e-c12a-31dc-a6d4-9c931b71f44d</versionedComponentId>
                            <bundle>
<artifact>nifi-scripting-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Script Engine</key>
        <value>
            <name>Script Engine</name>
        </value>
    </entry>
    <entry>
        <key>Script File</key>
        <value>
            <name>Script File</name>
        </value>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>
            <name>Script Body</name>
        </value>
    </entry>
    <entry>
        <key>Module Directory</key>
        <value>
            <name>Module Directory</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Script Engine</key>
        <value>Groovy</value>
    </entry>
    <entry>
        <key>Script File</key>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>import java.util.Base64.Encoder

// get flow file
def flowFile = session.get()
if (!flowFile) return

def username = "medic";
def password = flowFile.getAttribute("county_password");

def credentials = "$username:$password"
def encodedCredentials = Base64.getEncoder().encodeToString(credentials.getBytes())
encodedCredentials = "Basic $encodedCredentials"

flowFile = session.putAttribute(flowFile, "county_password" as String, "")
flowFile = session.putAttribute(flowFile, "basic_auth_token" as String, encodedCredentials.toString())

session.transfer(flowFile, REL_SUCCESS)</value>
    </entry>
    <entry>
        <key>Module Directory</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set Basic Auth Header</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.script.ExecuteScript</type>
                        </processors>
                        <processors>
                            <id>7a7b15cc-5c5b-3fe3-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>120.0</x>
<y>952.0</y>
                            </position>
                            <versionedComponentId>7a7b15cc-5c5b-3fe3-9040-c3d736aef0b5</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>
            <name>Max String Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.*</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>20 MB</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJson</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>93e30691-a6aa-3110-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>120.0</x>
<y>728.0</y>
                            </position>
                            <versionedComponentId>93e30691-a6aa-3110-acc8-a972a631285e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>20</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>0f0590a0-f24c-3e29-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>823e8be9-fa5a-3183-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Avro To JSON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>ce9189dc-b93f-3b0c-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>120.0</x>
<y>456.0</y>
                            </position>
                            <versionedComponentId>ce9189dc-b93f-3b0c-afd0-a75baa0783b2</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>b0a3cfbc-8c73-3efb-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>select * from county_instances_data </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Fetch All Credentials</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                        <processors>
                            <id>f8296709-7061-33fb-0000-000000000000</id>
                            <parentGroupId>bc9d9223-e701-3d70-0000-000000000000</parentGroupId>
                            <position>
<x>120.0</x>
<y>1200.0</y>
                            </position>
                            <versionedComponentId>f8296709-7061-33fb-9973-0a73df1cd4cf</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.25.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>
            <name>Max String Length</name>
        </value>
    </entry>
    <entry>
        <key>county_name</key>
        <value>
            <name>county_name</name>
        </value>
    </entry>
    <entry>
        <key>county_password</key>
        <value>
            <name>county_password</name>
        </value>
    </entry>
    <entry>
        <key>county_url</key>
        <value>
            <name>county_url</name>
        </value>
    </entry>
    <entry>
        <key>county_uuid</key>
        <value>
            <name>county_uuid</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>20 MB</value>
    </entry>
    <entry>
        <key>county_name</key>
        <value>$.county_name</value>
    </entry>
    <entry>
        <key>county_password</key>
        <value>$.county_password</value>
    </entry>
    <entry>
        <key>county_url</key>
        <value>$.county_url</value>
    </entry>
    <entry>
        <key>county_uuid</key>
        <value>$.county_id</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Get Columns</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Get Credentials</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>ad7fd6d8-9109-3e80-0000-000000000000</id>
                    <parentGroupId>c64aa2be-fb0a-3c61-0000-000000000000</parentGroupId>
                    <position>
                        <x>208.0</x>
                        <y>-192.0</y>
                    </position>
                    <versionedComponentId>ad7fd6d8-9109-3e80-89f3-c44df60fbfc3</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1000 days</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>MOH-515 Design Doc To All 47 Counties</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/15/2024 11:42:57 UTC</timestamp>
</template>
